.VideosCon{
    float: left;
    margin-left: 6vh;
    margin-top: 2vh;
    height: 80vh;
    width: 70vh;
    overflow-x: auto;
}
.VideoPlayer{
    float: right;
    margin-right: 20vh;
    margin-top: 10vh;
    width: 90vh;
    height: 60vh;
    background-color: black;
}
.miniPlayer{
    top:9vh;
}
.content-style{
    float: left;
    margin-top: -8vh;
    padding: 1vh;
    padding-left: 2vh;
}
.VideosCon h1{
    z-index: 99;
    background-color: white;
    width: 100%;
    position: fixed;
}